{
    auto_https off
    admin off
}

:{$PORT} {
    encode zstd gzip
    log

    respond /health 200

    handle_path /polybot/* {
        rewrite * /webhook/e80f40f5-f8dc-4d0e-9ce5-594c61d233df/chat
        reverse_proxy http://${N8N_DOMAIN}:${N8N_PORT}
    }

    handle {
        reverse_proxy http://${N8N_DOMAIN}:${N8N_PORT}
    }
}
